<?xml version="1.0" encoding="utf-8"?>
<configuration>
 
<connectionStrings><add name="BaseEscrimeEntities" connectionString="metadata=res://*/ModelEscrime.csdl|res://*/ModelEscrime.ssdl|res://*/ModelEscrime.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MACBOOK-SIRIX;initial catalog=BaseEscrime;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>